/* Write your code here: */

h1, h2 {   /* Multiple Selectors  */
    color: blueviolet;
}

.box > p {  /* child selector */
    color: firebrick;
}

.box li {  /* desedent selector */
    color: blue;
}

li.done{
    color: green; /*   Chaining  */
}

ul p.done{ /* combining combiners */
    font-size: 0.5rem;
}

